{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
	
</style>
<section class="blog">
   <div class="container">
       <div class="row">
           <div class="col-md-3">
               <div class="sidebar">
                  <div class="sidebar-box">
                     <div class="sidebar-title">
                         <h3>Quick Link</h3>
                     </div>
                     <div class="sidebar-content">
                        <ul>
                           <li id="li_2"><a href="#" onclick="ShowHidePanel('2'); return false;">Infrastructures</a></li>
                           <li id="li_3"><a href="#" onclick="ShowHidePanel('3'); return false;">Management</a></li>
                           <li id="li_4"><a href="#" onclick="ShowHidePanel('4'); return false;">Online Exam</a></li>
                           <li id="li_5"><a href="#" onclick="ShowHidePanel('5'); return false;">IT Skill Test</a></li>                                
                        </ul>                                                        
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-md-9 pull-right">                                                                       
               <section id="div_1" class="events">
                  <div class="event-item mar-bottom-40">
                     <div class="event-content">
                           <div class="event-detail pad-top-15">
                               <div class="event-list sidebar-title">
                                   <h3 class=""><a>Examination Solutions</a></h3>	
                               </div>
                               <p>
                                   Examination and Human Resource (HR) management is our core strength. We have a wide 
                                   network of online infrastructures spread across Bihar, Jharkhand, West Bengal and 
                                   Uttar Pradesh (UP). There is a dedicated team to support the ecosystem of application 
                                   processing, Campus interventions, ICT solutions & examination services. We have worked 
                                   closely for few of the Govt. and corporate sectors for their end to end Examination 
                                   management with perfection. Similarly, we have able to successfully conducted skills 
                                   and typing tests for various govt. departments. An Specialised certificate course in 
                                   Online Exam Management Systems has been launched by C-DAC ACTS to continuously train 
                                   and fulfil the requirement of skilled manpower in this domain.  
                               </p> 
                               <div class="thumbnail-images pad-top-10">                                           
                                   <img src="images/home/exam-01.jpg" class="img-responsive" alt="1">                                                
                               </div>                            
                           </div>
                       </div>
                   </div>

               </section>
                   
               <section id="div_2" class="events">
                   <div class="event-item mar-bottom-40">
                       <div class="event-content">
                           <div class="event-detail pad-top-15">
                               <div class="event-list sidebar-title">
                                   <h3 class=""><a>Infrastructures</a></h3>	
                               </div>
                               <p>
                                   Application processing the first step in examination management where a platform is created and advertised in public domain for any competition or recruitment based on the pre-requiest eligibility creteria. Accordingly the online/offline applications are collated and the final outcome is the generation of admit card passing through several intermetinary validation and after processing the data. We have a huge and diverse experience of this processes and it is supported by testimonials to prove our competence and expertise. 
                               </p>

                               <h5 class="mar-top-15">Process Summary Of Pre - Examination Management Services</h5>
                               <ul>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Registration Portal Development & Customization Services</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Candidate Helpdesk</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Multi stage Emails & SMS Alerts</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Admit Card and candidate scheduling management</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Test venue management</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Test Administrators I Supervisors planning and management</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Software Audit</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Pre Examination, Registration, Helpdesk & Website with payment gateway</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Designing of Application & Examination schedule, test centre, digital exams</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Receivig of Online or Offline Application as per scheduled start and end date</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> MIS reporting on the types and catergory of application as per defined norms</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Payment / Reconciliation statement of remittances received from the candidates</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Data Entry of application (If offline) with SMS intimation to the applicants</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Scanning of applications and attachmets (if offline) and Data correction checks</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Checking and  verification of applications as per the defined terms and conditions</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Finalising the date for Online / Offline Test and Roll No. pattern as per norms</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Prepare and publish Admit Card preparation on the website and SMS intimation</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Dispatch Admit Card of all eligible candidates as per the norms</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Prepare all related Application / Attendance, Payment & MIS Reports</p></li>
                               </ul>       
                                           
                           </div>
                       </div>
                   </div>

               </section>
                  
               <section id="div_3" class="events">
                   <div class="event-item mar-bottom-40">
                       <div class="event-content">
                           <div class="event-detail pad-top-15">
                               <div class="event-list sidebar-title">
                                   <h3 class=""><a>Management</a></h3>	
                               </div>
                               <p>The group has indepth understanding and expertise in conducting various competitive and 
                                   recruitment large scale, high-stakes, online examinations across centers in India. Astric 
                                   has its shortlisted and audited centers in Bihar, Uttar Pradesh, Jharkhand, West Bengal 
                                   with state-of-art-infrastructure and a capacity to conduct assessments in select city all 
                                   across in the country. We are conducting large scale online examination solution and 
                                   examination management with C-DAC Pune and Chennai on e-Pariksha platform. Astric has 
                                   demonstrated capability in any and all of the following activities/processes:
                               </p>
                               <ul class="mar-top-15">
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Pre Examination Activities</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Registration Process</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Helpdesk</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Developing exclusive website for receipt of application</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Application Form Processing</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Arranging online payment gateway</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Developing and managing application process</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Collecting data from pure or hybrid models</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Design & Development of Question Papers from SMEs</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Online enabling</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Admit Card Processing</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Examination Coordination across Centers</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Administration of Examination</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Post Examination support in evaluation</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Pre and Post Assessment Analysis for psychometric properties</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Declaration of Results (online/Offline)</p></li>
                                   <li><p><i class="fa fa-arrow-circle-o-right text-info"></i> Different Options in Delivery Methodology of tests</p></li>
                               </ul>

                               <h5 class="mar-top-15">Astric has proven methods for addressing</h5>                                    
                               <ul>
                                   <li>Monitoring test centers</li>
                                   <li>Authentication of test takers</li>
                                   <li>Proctoring of tests at all centers</li>
                                   <li>Password protection at all critical stages</li>
                                   <li>Securing uploading of data to central servers (Firewalls etc)</li>
                               </ul>
                              
                               <h5 class="mar-top-15">Examination Day Management Services</h5>                                   
                               <ul>
                                   <li>Secure Question Paper Development and Management</li>
                                   <li>Test Day Candidate Registration</li>
                                   <li>Test center management with Biometrics "frisking, Jammers, CCTV vigilance, document verification"</li>
                                   <li>Conduct of Exams in LAN based mode or Internet based mode specific to the client's requirement</li>
                                   <li>Real time reports and analysis</li>
                               </ul>                                   
                                                 
                           </div>
                       </div>
                   </div>

               </section>
                   
               <section id="div_4" class="events">
                   <div class="event-item mar-bottom-40">
                       <div class="event-content">
                           <div class="event-detail pad-top-15">
                               <div class="event-list sidebar-title">
                                   <h3 class=""><a>Online Exam</a></h3>	
                               </div>
                               <p>
                                   We have provided innovative human resource assessment solutions with a remarkable 
                                   credentials of over 25 years.  We have the privilege to be the model online examination 
                                   Centre in association with TCS ion for many banking and corporate clients when digital 
                                   exam has been launched initially during the year 2011.  Later in 2015, we have partnered 
                                   with C-DAC and working in tandem for conduction various online examinations.  
                               </p>
                               <p class="mar-top-15">The company is based out of Patna and has fully-owned assessment center. 
                                   In addition, Astric utilizes third-party assessment centers across India. Astric assesses 
                                   over one million candidates in various locations in India. Astric vision is to facilitate 
                                   organizations to realize their true human resource potential focusing on the ‘right fit’. 
                                   Towards this end, our Mission is to provide innovative solutions to fulfill ongoing needs 
                                   of corporate and institutions.</p>
                                                           
                           </div>
                       </div>
                   </div>

               </section>
                   
               <section id="div_5" class="events">
                   <div class="event-item mar-bottom-40">
                       <div class="event-content">
                           <div class="event-detail pad-top-15">
                               <div class="event-list sidebar-title">
                                   <h3 class=""><a>IT Skill Test</a></h3>	
                               </div>
                               
                               <p>
                                   Astric is a third-party Assessment & Testing Solutions provider that conducts tests 
                                   for government departments, universities, corporates, education institutions & public 
                                   sector organizations. We have developed various English / hindi typing and skills 
                                   assessmet tools for conducting offline/online mode as per requirements. These typing and 
                                   skill tests can be customized as per the needs and prerequiest client requirements for 
                                   various levels accordingly.
                               </p>
                               <p class="mar-top-15">We have conducted Central Univercity, Bihar, AIIMS, Patna, & Several Bihar Government 
                                   selection exams. We realizes the importance of security, confidentiality in examination 
                                   management and take adequate measures to ensure transparency and reliability as per the 
                                   defined and articulated terms and conditions. </p>
                                       
                               <h5 class="mar-top-15">Examination Management Services</h5>
                               <ul class="mar-top-15">
                                   <li>Candidate Results management</li>
                                   <li>Objection Tracker management</li>
                                   <li>Candidate reports management, RTIsupport</li>
                                   <li>Candidate Authentication management for Interviews or Skilltests</li>
                                   <li>Conduct of Typing/Skill/Steno tests</li>
                               </ul>                                    

                               <h5 class="mar-top-15">Third-party assessment solutions provider advantage</h5>                                    
                               <ul class="mar-top-15">
                                   <li>Frees up resources, allowing the university/ organization to focus on core competencies</li>
                                   <li>Reduces time & cost of conducting assessments</li>
                                   <li>Ensures error & bias-free evaluation through standardized processes</li>
                                   <li>Brings greater convenience to candidates</li>
                                   <li>Builds the organization’s contemporary image</li>
                                   <li>Allows for assessments to be conducted even in far-off locations</li>
                               </ul>
                               
                                                           
                           </div>
                       </div>
                   </div>

               </section>     
               
               <section id="div_6" class="events">
                   <div class="event-item mar-bottom-40">
                       <div class="event-content">
                           <div class="event-detail pad-top-15">
                               <div class="event-list sidebar-title">
                                   <h3 class=""><a>Certificate Course</a></h3>	
                               </div>
                               
                               <p class="mar-top-15">We are running Certificate Courses and PG-Diploma in Advanced computing 
                                   in association with Centre for Development of Advanced Computing (C-DAC) which is a premier 
                                   R&D organization of the Ministry of Electronics and Information Technology (MeitY) for 
                                   carrying out R&D in IT, Electronics and associated areas to bridge the gap between Academia 
                                   and Industry.  Campus Connect Programs and internship are also offered to the students 
                                   pursuing their Diploma and Engineering degree. During the internship, they get additional 
                                   exposure in Linux OS, Online examination package deployment and management. Qualified students 
                                   are deployed in live Examination projects for experience and exposure. Two speciliased 
                                   certificate courses has been launched for Examination Management and Data Recovery domians 
                                   in view od the emerging requirement of skilled manpower for online examinaition management. </p>

                               <h5 class="mar-top-15">Certificate Course in Online Exam Management System</h5>
                               <p class="mar-top-15"><strong>Objective : </strong> This course will enable the participants to work with the Linux 
                                   based operating systems and Exam & Bio‐metric tools used by CDAC to conduct online Exams
                                   managed by Centre for Development of Advanced Computing. </p>
                               <p class="mar-top-15"><strong>Prerequisite : </strong>Fundamental knowledge of Computers 
                                   [Total 80 hrs. course]</p>
                               <ul class="mar-top-15">
                                   <li><i class="text-info fa fa-gg"></i>Networking Fundamentals [24 hrs.]</li>
                                   <li><i class="text-info fa fa-gg"></i>PXE boot [08 hrs.]</li>
                                   <li><i class="text-info fa fa-gg"></i>Operating System Administration (CentOS) [24 hrs.]</li>
                                   <li><i class="text-info fa fa-gg"></i>Online Exam Management System [24 hrs.]</li>
                               </ul>

                               <h5 class="mar-top-15">Certificate Course in Data Recovery, Sanitization & Loss Preventions</h5>
                               <p class="mar-top-15"><strong>Objective : </strong> This course will enable the participant to learn and understand the various tool and
                               techniques to recover the lost data of the storages disk/drives and various data sanitization techniques.</p>
                               <p class="mar-top-15"><strong>Prerequisite : </strong> Fundamental knowledge of Computers [Total 80 hrs. course]</p>
                               <ul class="mar-top-15">
                                   <li><i class="text-info fa fa-gg"></i>Introduction to Data management and storage devices [12 hrs.]</li>
                                   <li><i class="text-info fa fa-gg"></i>Permanent data Deletion (Data Sanitization) [16 hrs.]</li>
                                   <li><i class="text-info fa fa-gg"></i>Data Loss Prevention [16 hrs.]</li>
                                   <li><i class="text-info fa fa-gg"></i>Data Destruction [18 hrs.]</li>
                                   <li><i class="text-info fa fa-gg"></i>Data Recovery [18 hrs.]</li>
                               </ul>
                                                           
                           </div>
                       </div>
                   </div>

               </section>
                         
           </div>
                           
       </div>
   </div>
</section>

{% endblock %}