{% load static %}        
        <!-- Footer Start -->
        <footer class="footer">
         <div class="container">
             <div class="row">
                 <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                     <a href="#" class="logo-footer">
                         <img src="{% static 'images/logo.svg' %}" alt="">
                     </a>
                     <p class="mt-4">Start working with Netparam that can provide everything you need to generate awareness, drive traffic, connect.</p>
                     <ul class="list-unstyled social-icon social mb-0 mt-4">
                         <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                         <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                         <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                         <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                     </ul><!--end icon-->
                 </div><!--end col-->
                 
                 <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0 offset-1">
                     <h4 class="text-light footer-head">Company</h4>
                     <ul class="list-unstyled footer-list mt-4">
                         <li><a href="page-aboutus.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> About us</a></li>
                         <li><a href="page-services.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Services</a></li>
                         <li><a href="page-jobs.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Careers</a></li>
                         
                     </ul>
                 </div><!--end col-->
<!--                   
                 <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                     <h4 class="text-light footer-head">Usefull Links</h4>
                     <ul class="list-unstyled footer-list mt-4">
                         <li><a href="page-terms.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Terms of Services</a></li>
                         <li><a href="page-privacy.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Privacy Policy</a></li>
                         <li><a href="documentation.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Documentation</a></li>
                         <li><a href="changelog.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Changelog</a></li>
                         <li><a href="components.html" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Components</a></li>
                     </ul>
                 </div>end col -->

                 <div class="col-lg-4 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                     <h4 class="text-light footer-head">Newsletter</h4>
                     <p class="mt-4">Sign up and receive the latests via email.</p>
                     <form>
                         <div class="row">
                             <div class="col-lg-12">
                                 <div class="foot-subscribe form-group position-relative">
                                     <label>Write your email <span class="text-danger">*</span></label>
                                     <i data-feather="mail" class="fea icon-sm icons"></i>
                                     <input type="email" name="email" id="emailsubscribe" class="form-control pl-5 rounded" placeholder="Your email : " required>
                                 </div>
                             </div>
                             <div class="col-lg-12">
                                 <input type="submit" id="submitsubscribe" name="send" class="btn btn-soft-primary btn-block" value="Subscribe">
                             </div>
                         </div>
                     </form>
                 </div><!--end col-->
             </div><!--end row-->
         </div><!--end container-->
     </footer><!--end footer-->

   <!-- Footer
   <footer class="main-footer pt-4">
       <div class="container">
           <div class="row pb-3">
               <!-- Footer info 
               <div class="col-md-4">
                   <div class="footer-info">
                       <h3 data-animate="fadeInUp" data-delay="0">About Us</h3>
                       <p data-animate="fadeInUp" data-delay=".05">NTPL develops world class Websites, Android Apps, Iphone Apps, Cloud Based Application, Hybrid Mobile Apps & Big Data and Analysis. It works for the government and private projects and here the resources are placed from the top of the world.</p>
                       
                       
                   </div>
               </div>
               <div class="col-md-4">
                 <h3 data-animate="fadeInUp" data-delay="0">Contact Us</h3>
                 <ul class="footer-contacts list-unstyled">
                   <li data-animate="fadeInUp" data-delay=".1">
                       <i class="fas fa-phone"></i>
                       <span>
                         +91-7665010205
                       </span>
                       
                       
                   </li>
                   <li data-animate="fadeInUp" data-delay=".2">
                       <i class="fas fa-envelope"></i>
                       <span>netparam.hr@gmail.com</span>
                   </li>
                   <li data-animate="fadeInUp" data-delay=".3">
                       <i class="fas fa-map-marker"></i>
                       <span>IT-23, SITAPURA INDUSTRIAL AREA , EPIP OPPOSITE RICCO OFFICE, near GLOBE CIRCLE, Jaipur, Rajasthan 302022
                       </span>
                   </li>
               </ul>
               </div>
               <div class="col-md-4">
                 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7123.0324356416395!2d75.819455075281!3d26.79168698271938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396dc9787b6e8159%3A0x7162ee3f35dc8f5a!2sNetparam%20Technologies%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1614596236694!5m2!1sen!2sin" width="100%" height="270" frameborder="0" style="border:0" allowfullscreen=""></iframe>
               </div>
               <!-- End of Footer info 
           </div>
       </div>
   </footer> -->
   <!-- End of Footer -->

