{% extends 'base.html' %}

{% block content %}
<br>
<h2>Payment Home</h2>
{% if error %}
<br>
<h3>{{ error }}</h3>
{% endif %}
<br>
<form method="post">
    {% csrf_token %}
    <label for="username">Username: </label>
    <input type="text" name="username" required> <br>
    <label for="password">Password: </label>
    <input type="text" name="password" required> <br>
    <label for="amount">Amount: </label>
    <input type="number" name="amount" value="100"> <br> <br>
    <input type="submit" name="submit" value="Submit" required>
</form>

{% endblock %}